@tailwind base;
@tailwind components;
@tailwind utilities;


.searchContainer {
    max-width: 500px;
}

.weatherContainer {
    height: 80vh;
}

/* Media queries */

@media screen and (max-width: 515px) {
    .searchContainer {
        max-width: 95vw;
    }

    .weatherContainer {
        height: 75vh;
    }
}